@media (max-width: 175em) {
  .bio-img-container {
    min-width: 25%;
  }
  .book-details {
    max-width: 74rem;
  }
}
@media (max-width: 86em) {
  .header {
    /* opacity: 0; */
    /* width: 0%; */
    flex-direction: row;
    height: fit-content;
    width: 100vw;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-right: 0%; */
    position: fixed;
    z-index: 99;
    background-color: #fff5f5;
  }
  .section-bio {
    padding-top: 20rem;
    height: 600px;
    width: 100vw;
  }
  .bio-container {
    width: 100%;
    padding-left: 0;
  }
  .bio-img-container {
    width: 100%;
    height: 100%;
  }
  section {
    margin: 0;
    width: 100vw;
    align-items: center;
    /* justify-content: center; */
    /* padding-right: 0%; */
    padding-left: 5%;
    /* justify-content: center; */
  }
  .home-img {
    top: 15vh;
  }
  .section-home {
    /* margin-top: 15vh; */
    /* opacity: 0;
    display: none; */
  }
  .main-nav-list {
    flex-direction: row;
    margin-top: 0;
  }

  .container-blog {
    padding: 0;
  }
  .swiper {
    width: 90%;
  }
  .footer {
    width: 100%;
    margin: 0;
    align-items: space-between;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 71.5em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  section {
    margin: 0;
  }
  .section-bio {
    padding-top: 20rem;
    height: 1100px;
  }
  .bio-text-box {
    /* align-self: flex-end; */
    font-size: 10rem;
  }
  .footer {
    gap: 5rem;
  }
}
@media (max-width: 68em) {
  html {
    font-size: 50%;
  }
  .home-text-container {
  }
  .home-text-container h3 {
    /* font-size: 7rem; */
  }
}
@media (max-width: 55em) {
  html {
    font-size: 42%;
  }
  .home-img {
    top: 0;
  }
  .home-text-container {
    top: 250px;
  }
  .bio-about {
    font-size: 1.8rem;
  }
  .section-bio {
    height: 110rem;
  }
  .books-header h3 {
    font-size: 3.5rem;
  }
  .cta-text {
    font-size: 2rem;
    line-height: 1.4;
  }
  .cta-button {
    font-size: 1.7rem;
  }
  .main-blog {
    width: 42%;
  }
  .main-blog h4 {
    font-size: 2.5rem;
  }
  .main-blog p {
    font-size: 2.3rem;
  }
  .main-blog a {
    width: 22rem;
    font-size: 1.8rem;
  }
  .main-blog a button {
    width: 22rem;
    font-size: 1.8rem;
  }
  .blog-photos {
    padding: 0rem 3rem;
    width: 68%;
    height: 500px;
  }
  footer div h1 {
    font-size: 3.6rem;
  }
  .copyright {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-top: auto;
  }

  .contact-info {
    font-size: 2rem;
    line-height: 3.2rem;
  }
  .social-icon {
    height: 2.8rem;
    width: 2.8rem;
  }
}
@media (max-width: 46em) {
  html {
    font-size: 35%;
  }
  .home-img {
  }
  .bio-container {
    padding-left: 1rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0rem;
    height: 50rem;
    /* overflow: hidden; */
  }
  .bio-img-container {
    width: 56rem;
    height: 40rem;
  }
  .bio-text-box {
    font-size: 10rem;
    width: 58rem;
  }
  .ampersand {
    font-size: 16rem;
  }
  .books-header {
    color: #303337;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1.1;
    margin-bottom: 4rem;
    align-self: center;
    width: 80%;
  }
}
@media (max-width: 40em) {
  .section-home {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
  }
  .home-text-container {
    font-size: 6.1rem;
    line-height: 0.9;
    width: 36rem;
    width: fit-content;
    text-align: center;
    margin-right: 0;
    top: 30%;
    left: -2vw;
    display: block;
  }
  .home-text-container h3 {
    display: block;
  }
  .home-img {
    height: 100%;
    width: 100%;
    left: -7vw;
    position: absolute;
    top: 0;
  }
  .home-img img {
    margin-left: 0;
    top: 0;
    width: 100%;
    height: 100vw;
    justify-self: flex-start;
    align-self: flex-start;
  }
}
@media (max-width: 27em) {
  .header {
    padding: 0;
    gap: 0rem;
    height: 50px;
  }
  .section-home {
    max-height: 80px;
  }
  .home-img {
    height: 100%;
    width: 100%;
    left: 0.5vw;
    position: absolute;
    top: 0;
  }
  .home-text-container {
    font-size: 6.5rem;
    left: -3vw;
    top: 150px;
  }
  .bio-container {
    flex-direction: column-reverse;
    gap: 8rem;
    align-items: flex-start;
  }
  .bio-text-box {
    font-size: 9rem;
    width: auto;
    align-self: flex-end;
  }
  .bio-img-container {
    width: 70%;
    height: auto;
  }
  .bio-about {
    font-size: 2rem;
  }
  .section-books {
    padding: 10rem 5rem;
  }
  .books-header {
    width: 100%;
  }
  .book-img {
    width: 10rem;
  }
  .swiper {
    margin-top: 4rem;
  }
  .section-blog {
    padding-bottom: 10rem;
    padding-left: 0;
  }
  .container-blog {
    background: url("Cards/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;
    padding: 0;
    padding-right: 4rem;
  }
  .blog-photos {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 0;
    width: 0%;
    height: 0;
    background: none;
  }
  .main-blog {
    width: 60%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: #ffffff3f;
    padding-left: 4rem;
  }
  .main-blog h4 {
    color: black !important;
    font-weight: 500;
  }
  .main-blog p {
    color: black;
    font-size: 2.6rem;
  }
  .copyright {
    font-size: 2rem;
  }

  .contact-info {
    font-size: 2rem;
  }
}

@media (max-width: 23.5em) {
  .logo-text {
    font-size: 3.6rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }
  .home-img {
    margin-left: 0;
    width: 100vw;
    height: auto;
  }
  .home-text-container {
    transform: rotate(0);
    font-size: 5rem;
    left: 3rem;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    row-gap: 0;
    max-height: fit-content;
  }
  .copyright {
    width: 25rem;
    justify-self: center;
  }

  .contact-info {
    margin-top: 4rem;
    width: 30rem;
    align-self: center;
    justify-self: center;
    grid-row: 2/3;
  }
  .social-links {
    list-style: none;
    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 1fr 1fr;
    grid-row: 1/3;
    justify-content: center;
    justify-self: center;
    align-self: center;
    gap: 4rem;
  }
  .social-icon {
    height: 3rem;
    width: 3rem;
    color: #767676;
  }
}
@media (max-width: 20em) {
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.2rem;
  }
  .main-blog {
    width: 80%;
  }
}
@media (max-width: 32opx) {
}
